# Example .env file

FFXIV_USERAGENT="Mozilla/5.0 (Windows; Windows NT 10.3; x64) AppleWebKit/535.31 (KHTML, like Gecko) Chrome/52.0.3822.277 Safari/536.8 Edge/18.40727"
FFXIV_TIMER_WEBHOOK=https://discord.com/api/webhooks/

MTD_WEBHOOK_URL=https://discord.com/api/webhooks/
MTD_NEWS_URL=https://assets.game-monmusu-td.net/res/information/news/1/news.json

TSK_NEWS_URL=https://prod-dmmclientr.twinkle-star-knights.com/api/info/list/allInfo
TSK_WEBHOOK_URL=https://discord.com/api/webhooks/

MST_NEWS_URL=https://fd-misttrain-prod.azurefd.net/api/info/news
MST_WEBHOOK_URL=https://discord.com/api/webhooks/

AA_NEWS_URL=https://assets.cdnangelicaaster.net/res/v1/News/news.json
AA_WEBHOOK_URL=https://discord.com/api/webhooks/

# DO NOT EXPOSE THIS
TWITTER_USERNAME=your-email@email.com
TWITTER_PASSWORD=your-password

# separated by comma if multiple webhooks needed
MST_TWT_WEBHOOK=https://discord.com/api/webhooks/
MTD_TWT_WEBHOOK=https://discord.com/api/webhooks/first,https://discord.com/api/webhooks/second
TSK_TWT_WEBHOOK=https://discord.com/api/webhooks/first,https://discord.com/api/webhooks/second,https://discord.com/api/webhooks/third
AZL_TWT_WEBHOOK=https://discord.com/api/webhooks/
FFXIV_TWT_WEBHOOK=https://discord.com/api/webhooks/
AA_TWT_WEBHOOK=

# Mention role id
# leave blank if no mention needed for corresponding webhook
MST_GAME_ROLE=12345678
MTD_GAME_ROLE=12345678,
TSK_GAME_ROLE=12345678,,12345678
AZL_GAME_ROLE=114514
FFXIV_GAME_ROLE=48763
AA_GAME_ROLE=
